@using DispatcherWeb.Web.Areas.App.Models.Common.Modals
@await Html.PartialAsync("~/Areas/app/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("Check all of the quoted line items you want to have added to this order"))

<div class="modal-body">
    <div class="row">
        <div class="col-sm-12">
            <table class="display table table-striped table-bordered table-hover dt-responsive" id="QuoteItemsTable"></table>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Areas/app/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
