@using System.Threading.Tasks
@using DispatcherWeb.Orders.Dto
@using DispatcherWeb.Web.Areas.App.Models.Common.Modals
@model OrderLineOfficeAmountEditDto
@await Html.PartialAsync("~/Areas/app/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("Enter the actual amount delivered for the specified item"))

<div class="modal-body">
    <form role="form" novalidate class="form-validation order-line-form">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="OrderLineId" />
        
        <div class="form-group">
            <label>Actual quantity</label>
            <input class="form-control" type="text" asp-for="ActualQuantity" data-rule-number="true" data-rule-min="0" data-rule-max="100000">
        </div>
    </form>
</div>

@await Html.PartialAsync("~/Areas/app/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
