@using System.Threading.Tasks
@using Abp.Configuration
@using DispatcherWeb.Configuration
@using DispatcherWeb.Web.Areas.App.Models.Common.Modals
@await Html.PartialAsync("~/Areas/app/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("Print Orders"))
<div class="modal-body">
    <form role="form" novalidate class="form-validation">
        <div class="form-group">
            <label class="control-label required-label">Date:</label>
            <input type="text" class="form-control filter" name="Date" id="DateFilter" required autocomplete="off">
        </div>
        <div class="form-group">
            <input type="radio" checked name="PrintOrdersOption" class="minimal" id="PrintDailySummary" />
            <label for="PrintDailySummary">Print Daily Summary</label>
        </div>
        <div class="form-group">
            <input type="radio" name="PrintOrdersOption" class="minimal" id="PrintDailyDetail" />
            <label for="PrintDailyDetail">Print Daily Detail</label>
        </div>
        <div class="form-group">
            <input type="radio" name="PrintOrdersOption" class="minimal" id="PrintOrdersForTruck" />
            <label for="PrintOrdersForTruck">Print Orders for Truck</label>
        </div>
        <div class="form-group">
            <label for="PrintDailyDetailWithSeparatePrices">
                <input type="radio" name="PrintOrdersOption" class="minimal" id="PrintDailyDetailWithSeparatePrices" />
                Print Daily Detail with Separate Prices
            </label>
        </div>
        <div class="form-group">
            <input type="radio" name="PrintOrdersOption" class="minimal" id="PrintDailyDetailForBackOffice" />
            <label for="PrintDailyDetailForBackOffice">Print Daily Detail for Back Office</label>
        </div>
        <div class="form-group">
            <input type="radio" name="PrintOrdersOption" class="minimal" id="PrintOrdersWithDeliveryInfo" />
            <label for="PrintOrdersWithDeliveryInfo">@L("PrintOrdersWithDeliveryInfo")</label>
        </div>
        <div class="form-group" id="HidePricesBlock" style="display: none">
            <input type="checkbox" class="minimal" id="HidePrices">
            <label for="HidePrices">Hide Prices</label>
        </div>
        <div class="form-group" id="IncludeTicketsBlock" style="display: none">
            <input type="checkbox" class="minimal" id="IncludeTickets">
            <label for="IncludeTickets">@L("IncludeTicketImages")</label>
        </div>
        <div class="form-group" id="SelectTruckBlock" style="display: none">
            <label>Truck</label>
            <select class="form-control" id="TruckId">
                <option value="">Select a truck</option>
            </select>
        </div>
    </form>
</div>
@await Html.PartialAsync("~/Areas/app/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")