@using DispatcherWeb.Infrastructure.Extensions
@using DispatcherWeb.Infrastructure;
@using DispatcherWeb.Orders
@using DispatcherWeb.Web.Areas.App.Models.Acknowledge
@model DriverLoadInfoViewModel

<div class="row form-group">
    <div class="col-4">
        <label class="required-label col-form-label text-bold" asp-for="TicketNumber" id="TicketNumberLabel">Ticket:</label>
    </div>
    <div class="col-8 d-flex align-items-start input-button">
        <div>
            <input type="hidden" asp-for="CreateNewTicket" />
            <input type="hidden" asp-for="Designation" value="@((int)Model.Designation)" />
            <input type="text" class="form-control" asp-for="TicketNumber" required maxlength="@EntityStringFieldLengths.Ticket.TicketNumber">
        </div>
        <button type="button" class="btn btn-default" id="CreateNewTicketButton"><i class="fa fa-plus"></i></button>
    </div>
</div>
<div class="row form-group">
    <div class="col-4">
        <label class="required-label col-form-label text-bold" asp-for="Amount">Actual Quantity:</label>
    </div>
    <div class="col-8 d-flex align-items-start input-button margin-top-10">
        <div>
            <input type="text" class="form-control" asp-for="Amount" data-rule-number="true" data-rule-min="0" data-rule-max="1000000">
        </div>
        <button type="button" class="btn btn-default" id="TakeTicketPhotoButton"><i class="fa fa-camera" aria-hidden="true"></i></button>
        <input type="hidden" name="TicketPhotoId" id="TicketPhotoId" />
    </div>
</div>
<div class="row form-group mb-2" id="TicketPhotoSelectedMessage" style="display: none">
    <div class="col-12">
        <div class="alert alert-success" role="alert">
            <div class="alert-text">Ticket Photo is selected. Please, complete the Load to save the photo.</div>
        </div>
    </div>
</div>
