@using DispatcherWeb.Web.Areas.App.Models.DriverApplication
@using DispatcherWeb.Web.Areas.App.Models.Acknowledge
@model DriverApplicationDriverInfoViewModel<DriverDestinationInfoViewModel>
@{
    Layout = "_LayoutWithClock";
}
@section Scripts
{
    <environment names="Development">
        <script src="~/lib/signaturepad/dist/signaturepad.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/App/Views/DriverApplication/ComleteDelivery.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/lib/signaturepad/dist/signaturepad.min.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/App/Views/DriverApplication/ComleteDelivery.min.js" asp-append-version="true"></script>
    </environment>
}

<div class="row">
    <div class="col-sm-12 col-md-8 col-lg-6 col-xl-4">
        @await Html.PartialAsync("_DriverDestinationInfoPartial", Model.DriverInfoViewModel)
    </div>
</div>

<form role="form" novalidate>
    @await Html.PartialAsync("_DispatchIdInputPartial", Model.DriverInfoViewModel)
    <div class="row">
        <div class="col-12">
            @if (!Model.DriverInfoViewModel.SignatureId.HasValue)
            {
                <div class="row">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-4 margin-bottom-10"><button class="btn btn-primary col-sm-12" type="button" id="AddSignatureButton">@L("AddSignature")</button></div>
                </div>
            }
            <div class="row">
                <div class="col-12 col-md-8 col-lg-6 col-xl-4 margin-bottom-10"><button class="btn btn-primary col-sm-12" type="submit" id="CompleteDeliveryButton">@L("Delivered")</button></div>
            </div>
        </div>
    </div>
</form>
