@using DispatcherWeb.Web.Areas.App.Models.DriverApplication
@using DispatcherWeb.Web.Areas.App.Models.Acknowledge
@model DriverApplicationDriverInfoViewModel<DriverInfoBaseViewModel>
@{
    Layout = "_LayoutWithClock";
}
<h1>There are no new dispatches to display. Contact your dispatcher.</h1>