
@{
    ViewData["Title"] = "LoggedOut";
}

<h2>You are logged out</h2>
<h3>You can close this window or use the button below if you need to log in again</h3>

<button type="button" id="loginButton" class="btn btn-primary" style="margin-top: 25px">Log in</button>

@section Scripts{
    <script>
        $('#loginButton').click(function () {
            window.location = '/';
        });
    </script>
}

