@using System.Threading.Tasks
@using DispatcherWeb.Web.Areas.App.Models.Common.Modals
@await Html.PartialAsync("~/Areas/app/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("Fuel Usage Import"))

<div class="modal-body">
    <form class="m-form m-form--label-align-right" id="ImportForm" asp-action="UploadFile">
        <input type="hidden" id="ImportType" value="@ViewBag.ImportType" />
        <div class="d-flex">
            <div class="form-group">
                <label for="FuelImportType">Fuel Import Type</label>
                <select id="FuelImportType" data-jacobus-value="jacobus" class="select2-preset">
                    <option value="user">User Mapped</option>
                    <option value="jacobus">Jacobus Energy</option>
                </select>
            </div>
        </div>
        <div class="d-flex">
            <div class="form-group fileUpload margin-top-20">
                <div class="col-12 btn btn-primary browse_btn">
                    <span>@L("Browse")</span>
                    <input id="ImportFile" type="file" accept=".csv" class="upload">
                </div>
                <div class="col-xs-12">
                    <span class="m-form__help">This should be a CSV file.</span>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary close-button" data-dismiss="modal">@L("Cancel")</button>
</div>