body {
    overflow: hidden;
}

#viewerContainer {
    background-color: #e5e5e5;
    height: 100vh;
}

.gcv-parameters__control--preview > button {
    cursor: pointer !important;
}

.arjs-export-panel > button {
    cursor: pointer !important;
}

.gcv-pageview.gcv-pageview--margin {
    height: 99.5% !important;
}