@using System.Threading.Tasks
@using DispatcherWeb.Web.Areas.App.Models.Common.Modals
@using DispatcherWeb.DriverAssignments.Dto
@using DispatcherWeb.Drivers
@model DriverAssignmentEditDto
@await Html.PartialAsync("~/Areas/app/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("Select default start time"))

<div class="modal-body">
    <form role="form" novalidate class="form-validation">
        <div class="form-group">
            <label>Default time</label>
            <input type="text" class="form-control" asp-for="StartTime">
        </div>
    </form>
</div>

@await Html.PartialAsync("~/Areas/app/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
