@using DispatcherWeb.Infrastructure.Extensions
@using DispatcherWeb.Orders
@using DispatcherWeb.Web.Areas.App.Models.Acknowledge
@model DriverLoadInfoViewModel
@{
    Layout = "_Layout";
}

@section Scripts {
    <environment names="Development">
        <script src="~/view-resources/Areas/App/Views/Acknowledge/DriverAcknowledge.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Areas/App/Views/Acknowledge/DriverAcknowledge.min.js" asp-append-version="true"></script>
    </environment>

}


<form role="form" novalidate>
    <input type="hidden" asp-for="Guid" />
    <input type="hidden" asp-for="DispatchId" />
    @await Html.PartialAsync("../DriverApplication/_DriverLoadInfoPartial", Model)

    <div class="row form-group">
        <div class="col-12 text-right">
            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> <span>@L("Acknowledge")</span></button>
        </div>
    </div>
</form>