@using DispatcherWeb.Configuration
@using Abp.Configuration
@using DispatcherWeb.Dispatching.Dto
@using HtmlHelper = DispatcherWeb.Web.Utils.HtmlHelper;
@model DriverInfoErrorAndRedirect
@{
    Layout = "_Layout";
}

<span>@Html.Raw(HtmlHelper.Sanitize(Model.Message).Replace("{URL}", $"<a href=\"{Model.RedirectUrl}\">{HtmlHelper.Sanitize(Model.UrlText)}</a>"))</span>