@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts
{
    @RenderSection("Scripts", false)
}
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
            @RenderBody()
        </div>
    </div>
</div>