@model DispatcherWeb.Web.DriverApplication.Models.DriverApplication.IndexViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Driver Application";
}
@section Scripts{
    <script src="~/views/driverApplication/index.js"></script>
}

<input type="hidden" asp-for="IdentityServerUri" />
<input type="hidden" asp-for="ApiUri" />
<input type="hidden" asp-for="DriverAppUri" />
<input type="hidden" asp-for="WebPushServerPublicKey" />
<link rel="preconnect" href="@Model.IdentityServerUri">

<header class="header">
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="clearfix">
            <div class="header-hamburger pull-left">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-label="Toggle application menu">
                    <span class="icon-menu"></span>
                </button>
            </div>
            <img src="~/images/logo-dtd.png" class="logo-img" alt="" />
            <div class="header-install pull-right">
                <a href="#" id="installPwaButton" hidden><span class="icon-install" title="Install"></span><span class="install-text">Add to home screen</span></a>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="main-menu">
            <ul class="nav navbar-nav">
                <li><a href="#" id="logoutButton"><span class="icon-exit"></span><span>Logout</span></a></li>
                <li><a href="#" id="forceRefreshButton"><span class="icon-refresh"></span><span>Force Refresh</span></a></li>
                @*<li style="display: none"><a href="#" id="changeAssociatedTruck"><span class="icon-info"></span><span>Change the truck associated with this device</span></a></li>
                    <li style="display: none"><a href="#" id="setTenancy"><span class="icon-info"></span><span>Set or change the tenancy</span></a></li>*@
                <li style="display: none"><a href="#" id="showPendingChanges"><span class="icon-info"></span><span>Show pending changes summary</span></a></li>
                <li style="display: none"><a href="#" id="showErrorLogs"><span class="icon-info"></span><span>Show error logs</span></a></li>
                <li class="app-version"><span>v@(AppVersionHelper.Version)</span></li>
            </ul>
        </div>
    </nav>
</header>

<div id="loadingDiv">
    Loading...
</div>

<div id="errorDiv" style="display: none">
</div>

<div class="row margin-bottom-10" id="clockDiv" style="display: none">
    <div class="col-md-3 col-sm-4 col-xs-6">
        <button class="btn btn-primary col-xs-12" id="ClockOutButton">Clock In</button>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6" id="ChangeTimeCodeButtonContainer" style="display: none">
        <button class="btn btn-primary col-xs-12" id="ChangeTimeCodeButton">Change Time Code</button>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6">
        <h2 id="ElapsedTime">00:00</h2>
    </div>
</div>

<div id="clockInView" class="margin-bottom-10" style="display: none">
    <div id="hasScheduledStartTime" style="display: none">
        <h3 id="scheduledStartTimeCaption">Scheduled Start Time:</h3>
        <h2><span id="scheduledStartTime"></span></h2>
    </div>
    <div id="noScheduledStartTime">
        <h3 id="noScheduledStartTimeCaption">You have no scheduled start time. Contact your dispatcher.</h3>
    </div>
</div>

<div id="acknowledgeDispatchView" style="display: none">
    <form role="form" novalidate>
        <div class="row">
            <div class="col-12">
                <div>
                    <div class="col-md-6 col-xs-10 margin-bottom-10">
                        <button class="btn btn-primary col-xs-12" type="button" id="AcknowledgeDispatchButton">Acknowledge Dispatch</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-6 col-xl-4">
            @*@await Html.PartialAsync("_DriverLoadInfoPartial", Model.DriverInfoViewModel)*@
            <div @*id="driverLoadInfoPartial"*@>
                <div class="row form-group">
                    <div class="col-xs-3">
                        <label class="col-form-label"><span class="dateShiftLabel"></span></label>
                    </div>
                    <input type="hidden" value="" id="DeliveryDate" />
                    <div class="col-xs-9">
                        <span class="deliveryDate"></span>
                        <span class="shiftName"></span>
                        <span class="timeOnJob"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-3">
                        <label class="col-form-label">Customer:</label>
                    </div>
                    <div class="col-xs-9">
                        <span class="customerName"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-3">
                        <label class="col-form-label">Run Until Stopped:</label>
                    </div>
                    <div class="col-xs-9">
                        <span class="isMultipleLoads"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-3">
                        <label class="col-form-label">Start at:</label>
                    </div>
                    <div class="col-xs-9">
                        <span class="pickupAt"></span>
                    </div>
                </div>
                <div class="row form-group ">
                    <div class="col-xs-3">
                        <label class="col-form-label text-bold">Deliver To:</label>
                    </div>
                    <div class="col-xs-9 text-wrap">
                        <span class="customerAddress"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-3">
                        <label class="col-form-label">Material Quantity:</label>
                    </div>
                    <div class="col-xs-9">
                        <span class="materialQuantity"></span> <span class="materialUomName"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-3">
                        <label class="col-form-label">Freight Quantity:</label>
                    </div>
                    <div class="col-xs-9">
                        <span class="freightQuantity"></span> <span class="freightUomName"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-3">
                        <label class="col-form-label">Item</label>
                    </div>
                    <div class="col-xs-9">
                        <span class="itemName"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-3">
                        <label class="col-form-label">Charge To:</label>
                    </div>
                    <div class="col-xs-9">
                        <span class="chargeTo"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-3">
                        <label class="col-form-label">Job Number:</label>
                    </div>
                    <div class="col-xs-9">
                        <span class="jobNumber"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-3">
                        <label class="col-form-label">Note:</label>
                    </div>
                    <div class="col-xs-9">
                        <span class="note"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="completeDeliveryView" style="display: none">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-6 col-xl-4">
            @*@await Html.PartialAsync("_DriverDestinationInfoPartial", Model.DriverInfoViewModel)*@
            <div @*id="driverDestinationInfoPartial"*@>
                <div class="row form-group">
                    <div class="col-xs-3">
                        <label class="col-form-label"><span class="dateShiftLabel"></span></label>
                    </div>
                    <div class="col-xs-9">
                        <span class="deliveryDate"></span>
                        <span class="shiftName"></span>
                        <span class="timeOnJob"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-3">
                        <label class="col-form-label text-bold">Customer:</label>
                    </div>
                    <div class="col-xs-9 text-wrap">
                        <span class="customerName"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-3">
                        <label class="col-form-label text-bold">Deliver To:</label>
                    </div>
                    <div class="col-xs-9 text-wrap">
                        <a href="#" class="customerAddressContainer">
                            <span class="customerAddress"></span>
                            <span class="icon-directions"></span>
                        </a>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-3">
                        <label class="col-form-label">Job Number:</label>
                    </div>
                    <div class="col-xs-9">
                        <span class="jobNumber"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-3">
                        <label class="col-form-label text-bold">Note:</label>
                    </div>
                    <div class="col-xs-9 text-wrap">
                        <span class="note"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form role="form" novalidate>
        @*@await Html.PartialAsync("_DispatchIdInputPartial", Model.DriverInfoViewModel)*@
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-6 col-xl-4">
                <div class="row">
                    <div class="col-xs-12 margin-bottom-10">
                        <button class="btn btn-primary col-xs-12 modifyTicketButton" type="button">Add or Edit Ticket</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 margin-bottom-10">
                        <button class="btn btn-primary col-xs-12" type="button" id="AddSignatureButton" data-toggle="modal" data-target="#addSignatureModal">Add Signature</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 margin-bottom-10">
                        <button class="btn btn-primary col-xs-12" type="button" id="CompleteDeliveryButton">Delivered</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="loadInfoView" style="display: none">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-6 col-xl-4">
            @*@await Html.PartialAsync("_DriverLoadInfoPartial", Model.DriverInfoViewModel)*@
            <div @*id="driverLoadInfoPartial"*@>
                <div class="row form-group">
                    <div class="col-xs-3">
                        <label class="col-form-label"><span class="dateShiftLabel"></span></label>
                    </div>
                    <div class="col-xs-9">
                        <span class="deliveryDate"></span>
                        <span class="shiftName"></span>
                        <span class="timeOnJob"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-3">
                        <label class="col-form-label">Customer:</label>
                    </div>
                    <div class="col-xs-9">
                        <span class="customerName"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-3">
                        <label class="col-form-label">Run Until Stopped:</label>
                    </div>
                    <div class="col-xs-9">
                        <span class="isMultipleLoads"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-3">
                        <label class="col-form-label">Start at:</label>
                    </div>
                    <div class="col-xs-9">
                        <a href="#" class="pickupAtContainer">
                            <span class="pickupAt"></span>
                            <span class="icon-directions"></span>
                        </a>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-3">
                        <label class="col-form-label">Material Quantity:</label>
                    </div>
                    <div class="col-xs-9">
                        <span class="materialQuantity"></span> <span class="materialUomName"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-3">
                        <label class="col-form-label">Freight Quantity:</label>
                    </div>
                    <div class="col-xs-9">
                        <span class="freightQuantity"></span> <span class="freightUomName"></span>
                    </div>
                </div>
                <div class="row form-group ">
                    <div class="col-xs-3">
                        <label class="col-form-label">Item</label>
                    </div>
                    <div class="col-xs-9">
                        <span class="itemName"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-3">
                        <label class="col-form-label">Charge To:</label>
                    </div>
                    <div class="col-xs-9">
                        <span class="chargeTo"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-3">
                        <label class="col-form-label">Job Number:</label>
                    </div>
                    <div class="col-xs-9">
                        <span class="jobNumber"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-3">
                        <label class="col-form-label">Note:</label>
                    </div>
                    <div class="col-xs-9">
                        <span class="note"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form role="form" novalidate>
        <div class="row margin-bottom-10">
            <div class="col-md-5 col-xs-12">
                <button class="btn btn-primary col-xs-12 modifyTicketButton" type="button">Add or Edit Ticket</button>
            </div>
        </div>
        <div class="row margin-bottom-20">
            <div class="col-md-5 col-xs-12">
                <button class="btn btn-primary col-xs-12" type="button" id="SaveLoadButton">Loaded</button>
            </div>
        </div>
        <div class="row margin-bottom-10 MarkDispatchCompleteLinkContainer" style="display:none">
            <div class="col-md-5 col-xs-12 text-center">
                <a href="#" class="MarkDispatchCompleteLink">Mark Dispatch Complete</a>
            </div>
        </div>
    </form>
</div>

<div id="noDispatchView" style="display: none">
    <h3>There are no new dispatches to display. Contact your dispatcher.</h3>
</div>

<div class="modal fade" id="modifyTicketModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Create or Edit Ticket</h4>
            </div>
            <div class="modal-body">
                <form role="form" novalidate>
                    <div class="row form-group">
                        <div class="col-md-3 col-xs-4">
                            <label class="required-label col-form-label text-bold" id="TicketNumberLabel" for="TicketNumber">Ticket:</label>
                        </div>
                        <div class="col-md-5 col-xs-5">
                            <input type="hidden" id="CreateNewTicket" name="CreateNewTicket" />
                            <input type="hidden" id="Designation" name="Designation" value="" />
                            <input type="text" class="form-control" id="TicketNumber" required maxlength="20">
                        </div>
                        <div class="col-xs-3">
                            <button type="button" class="btn btn-default" id="CreateNewTicketButton"><span class="icon-plus" title="Create New Ticket"></span></button>
                        </div>
                    </div>
                    <div class="row form-group ">
                        <div class="col-md-3 col-xs-4">
                            <label class="required-label col-form-label text-bold" for="Amount">Actual Quantity:</label>
                        </div>
                        <div class="col-md-5 col-xs-5">
                            <input type="number" class="form-control no-numeric-spinner" id="Amount" name="Amount" data-rule-number="true" data-rule-min="0" data-rule-max="1000000">
                        </div>
                        <div class="col-xs-3 ticketPhotoButtonContainer">
                            <button type="button" class="btn btn-default TakeTicketPhotoButton"><span class="icon-camera" title="Add Ticket Photo"></span></button>
                        </div>
                    </div>
                    <div class="row form-group" id="TicketPhotoSelectedMessage" style="display: none">
                        <div class="col-md-10 col-xs-12">
                            <div class="alert alert-success" role="alert">
                                <div class="alert-text">Ticket Photo is selected. Please complete the Load to save the photo. If you want to remove ticket photo <a href="#" id="RemoveTicketPhoto">click here</a>.</div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="SaveTicketButton">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addTicketPhotoModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Ticket Photo</h4>
            </div>
            <div class="modal-body">
                <form role="form" novalidate class="form-validation" method="POST" action="">
                    <div class="form-group fileUpload">
                        <div class="btn btn-primary browse_btn">
                            <input type="file" accept="image/*" capture class="upload" id="TicketPhoto" name="TicketPhoto">
                        </div>
                    </div>
                    <input type="submit" style="display: none" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="saveTicketPhotoButton">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addSignatureModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Signature</h4>
            </div>
            <div class="modal-body">
                <form role="form" novalidate class="form-validation">
                    <div class="form-group" id="signatureViewText" style="display:none">
                        <label></label>
                    </div>
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" id="SignatureName" name="SignatureName">
                    </div>
                    <div class="form-group">
                        <div class="signature-pad-wrapper">
                            <canvas class="signature-pad-canvas"></canvas>
                        </div>
                        <div class="signature-pad-description">Sign above</div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="SaveSignatureButton">Save</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="selectTimeClassificationModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Select time classification</h4>
            </div>
            <div class="modal-body">
                <form role="form" novalidate>
                    <div class="row form-group">
                        <div class="col-md-4 col-xs-4">
                            <label class="required-label col-form-label text-bold" for="TimeClassificationId">Time classification:</label>
                        </div>
                        <div class="col-md-8 col-xs-8">
                            <select class="form-control" id="TimeClassificationId" name="TimeClassificationId" required>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4 col-xs-4">
                            <label class="col-form-label text-bold" for="EmployeeTimeDescription">Description:</label>
                        </div>
                        <div class="col-md-8 col-xs-8">
                            <textarea class="form-control" rows="5" id="EmployeeTimeDescription" maxlength=200></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="ClockInWithTimeClassificationButton">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="validationError" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="icon-notification-wrap">
                    <span class="icon-notification"></span>
                </div>
                <span id="validationMessage"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="validationErrorOkButton">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="pendingChangesModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Pending changes</h4>
            </div>
            <div class="modal-body">
                <div id="pendingChangesList">

                </div>
                <button type="button" class="btn btn-primary" id="clearAllPendingPhotos">Clear all pending photos</button>
                <button type="button" class="btn btn-primary" id="clearAllPendingSignatures">Clear all pending signatures</button>
                <button type="button" class="btn btn-primary" id="clearAllPendingData">Clear all pending data</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="errorLogsModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Error logs</h4>
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-primary" id="clearAllLogs">Delete all log records</button>
                <hr />
                <div class="form-group">
                    <label>Filter</label>
                    <span><br />For dates, please use YYYY-MM-DDTHH:mm:ss format. You can omit the time if not needed. You can use empty string to not limit the date.</span>
                </div>
                <div class="form-group">
                    <label>Start datetime (inclusive):</label>
                    <input type="text" class="form-control" id="LogFilterStartDate">
                </div>
                <div class="form-group">
                    <label>End datetime (exclusive):</label>
                    <input type="text" class="form-control" id="LogFilterEndDate">
                </div>
                <div class="form-group">
                    <label>Log levels: </label>
                    <label><input type="checkbox" class="log-filter-level" data-level="info" id="LogFilterInfoLevel" checked> Info</label>
                    <label><input type="checkbox" class="log-filter-level" data-level="warn" id="LogFilterWarnLevel" checked> Warn</label>
                    <label><input type="checkbox" class="log-filter-level" data-level="error" id="LogFilterErrorLevel" checked> Error</label>
                </div>
                <div class="form-group">
                    <label><input type="checkbox" id="LogFilterDescDirection" checked> Show in descending order</label>
                </div>
                <button type="button" class="btn btn-default" id="refreshLogList">Search</button>
                <hr />
                <div id="errorLogsList">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="welcomeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Welcome</h4>
            </div>
            <div class="modal-body">
                <span>Welcome to the driver application. You need to log in first.</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="loginButton">Log in</button>
            </div>
        </div>
    </div>
</div>