@using System.Threading.Tasks
@using DispatcherWeb.Web.Areas.App.Models.Common.Modals
@using DispatcherWeb.Web.Areas.App.Models.Scheduling
@model ActivateClosedTrucksModalViewModel
@await Html.PartialAsync("~/Areas/app/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("Activate closed truck"))

<div class="modal-body">
    <form role="form" novalidate class="form-validation">
        <input type="hidden" asp-for="OrderLineId" />
        <div class="form-group">
            <label class="required-label">Choose the trucks you would like to make active on this order line</label>
            <select class="form-control" required id="TruckIds" asp-items="Model.Trucks" multiple>
            </select>
        </div>
    </form>
</div>

@await Html.PartialAsync("~/Areas/app/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
