@using System.Threading.Tasks
@using Abp.Configuration
@using DispatcherWeb.Configuration
@using DispatcherWeb.Infrastructure.Extensions
@using DispatcherWeb.Web.Areas.App.Models.Common.Modals
@using DispatcherWeb.Scheduling.Dto
@model LeaseHaulerSelectionDto
@await Html.PartialAsync("~/Areas/app/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("Lease Haulers to display on the schedule for " + Model.Date.ToShortDateString() + (Model.Shift.HasValue ? " " + await SettingManager.GetShiftName(Model.Shift) : "")))

<div class="modal-body">
    <form role="form" novalidate class="form-validation">
        <input type="hidden" asp-for="Date" />
        <input type="hidden" asp-for="Shift" />
        <input type="hidden" asp-for="OfficeId" />
        <div class="form-group">
            <div class="m-radio-list">
                <label class="m-radio">
                    <input type="radio" name="AddAllTrucks" id="AddAllTrucksRadioButton" value="1" checked="checked"> All
                    <span></span>
                </label>
                <label class="m-radio">
                    <input type="radio" name="AddAllTrucks" id="AddSpecificTrucksRadioButton" value="0"> Specific Trucks
                    <span></span>
                </label>
            </div>
        </div>
        <div id="TruckSelectionBlock" style="display: none">
            <div class="row"><div class="col-sm-12 text-right"><button type="button" class="btn btn-default" id="AddTruckSelectionRow">Add</button></div></div>
            <div class="row">
                <div class="col-sm-4">
                    <label class="required-label">Lease Hauler</label>
                </div>
                <div class="col-sm-3">
                    <label class="required-label">Truck</label>
                </div>
                <div class="col-sm-4">
                    <label class="required-label">Driver</label>
                </div>
                <div class="col-sm-1">
                </div>
            </div>
            <div class="row truck-selection-row" data-id="" style="display: none">
                <div class="col-sm-4">
                    <select class="form-control lease-hauler-select" name="LeaseaHaulerId" required>
                        <option value=""></option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <select class="form-control truck-select" name="TruckId" required>
                        <option value=""></option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <select class="form-control driver-select" name="DriverId" required>
                        <option value=""></option>
                    </select>
                </div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-default delete-truck-selection-row-button"><i class="fa fa-trash"></i></button>
                </div>
            </div>
        </div>
    </form>
</div>

@await Html.PartialAsync("~/Areas/app/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
