@using System.Threading.Tasks
@using DispatcherWeb.Web.Areas.App.Models.Common.Modals
@using DispatcherWeb.Scheduling.Dto
@await Html.PartialAsync("~/Areas/app/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("Trips Report"))

<div class="modal-body">
    <table class="table table-striped table-bordered table-hover order-lines-table" id="TruckOrdersTable">
        <tr>
            <th>Truck</th>
            <th>Time</th>
            <th>Location</th>
        </tr>

        <tr>
            <td>430</td>
            <td>6:45 AM</td>
            <td>Vulcan Anderson</td>
        </tr>
        <tr>
            <td>430</td>
            <td>7:18 AM</td>
            <td>Flatiron</td>
        </tr>
        <tr>
            <td>430</td>
            <td>7:57 AM</td>
            <td>Vulcan Anderson</td>
        </tr>
        <tr>
            <td>430</td>
            <td>8:30 AM</td>
            <td>Flatiron</td>
        </tr>
        <tr>
            <td>430</td>
            <td>9:11 AM</td>
            <td>Vulcan Anderson</td>
        </tr>

        <tr>
            <td>435</td>
            <td>6:49 AM</td>
            <td>Vulcan Anderson</td>
        </tr>
        <tr>
            <td>435</td>
            <td>7:22 AM</td>
            <td>Flatiron</td>
        </tr>
        <tr>
            <td>435</td>
            <td>8:01 AM</td>
            <td>Vulcan Anderson</td>
        </tr>
        <tr>
            <td>435</td>
            <td>8:34 AM</td>
            <td>Flatiron</td>
        </tr>
        <tr>
            <td>435</td>
            <td>9:15 AM</td>
            <td>Vulcan Anderson</td>
        </tr>

        <tr>
            <td>436</td>
            <td>6:52 AM</td>
            <td>Vulcan Anderson</td>
        </tr>
        <tr>
            <td>436</td>
            <td>7:25 AM</td>
            <td>Flatiron</td>
        </tr>
        <tr>
            <td>436</td>
            <td>8:04 AM</td>
            <td>Vulcan Anderson</td>
        </tr>
        <tr>
            <td>436</td>
            <td>8:37 AM</td>
            <td>Flatiron</td>
        </tr>
        <tr>
            <td>436</td>
            <td>9:19 AM</td>
            <td>Vulcan Anderson</td>
        </tr>
    </table>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default close-button" data-dismiss="modal">Close</button>
</div>