@using System.Threading.Tasks
@using DispatcherWeb.Invoices.Dto
@using DispatcherWeb.Web.Areas.App.Models.Common.Modals
@model EmailInvoicePrintOutDto
@await Html.PartialAsync("~/Areas/app/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("Send Email"))

<div class="modal-body">
    <form role="form" novalidate class="form-validation">
        <input type="hidden" asp-for="InvoiceId" />
        <div class="form-group">
            <label class="required-label">From</label>
            <input class="form-control" type="text" asp-for="From" required>
        </div>
        <div class="form-group">
            <label class="required-label">To</label>
            <input class="form-control" type="text" asp-for="To" required>
        </div>
        <div class="form-group">
            <label>CC</label>
            <input class="form-control" type="text" asp-for="CC">
        </div>
        <div class="form-group">
            <label>Subject</label>
            <input class="form-control" type="text" asp-for="Subject">
        </div>
        <div class="form-group">
            <label>Body</label>
            <textarea class="form-control" rows="5" asp-for="Body"></textarea>
        </div>
    </form>
</div>

@await Html.PartialAsync("~/Areas/app/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
